/*
!/Assets/
/Assets/*

!/Assets/Scripts/
/Assets/Scripts/*
!/Assets/Scripts/RaymapGame/
!/Assets/Scripts/RaymapGame/*

!/Assets/Scripts/Editor/
/Assets/Scripts/Editor/*
!/Assets/Scripts/Editor/RaymapGame/
!/Assets/Scripts/Editor/RaymapGame/*

!/Assets/Resources/
/Assets/Resources/*
!/Assets/Resources/RaymapGame

!/ProjectSettings/
/ProjectSettings/*
!/ProjectSettings/InputManager.asset

#*.meta