/*
!/Assets/
/Assets/*

!/Assets/Scripts/
/Assets/Scripts/*
!/Assets/Scripts/CustomGame/
!/Assets/Scripts/CustomGame/*

!/Assets/Resources/
/Assets/Resources/*
!/Assets/Resources/CustomGame

!/ProjectSettings/
/ProjectSettings/*
!/ProjectSettings/InputManager.asset

*.meta