#Shroob dir stuff
bin/
Temp/
vendor/
#----

*.csproj
*.sln
.vs/
Wiki/

ProjectSettings/*.asset
ProjectSettings/*.txt
!ProjectSettings/InputManager.asset
!ProjectSettings/AudioManager.asset

Packages/
obj/
Logs/
Library/

Assets/
#!Assets/**/RaymapGame/